<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<form  action="#" th:action="@{/LogInForCurrentUser1}" th:object="${user}" method="post"><!-- -->
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
        </div>
        <button type="submit"><a href="@{/dashboard}"> Login</a></button>
    </form>

</body>
</html>